.column{
  background-color: #ffe6e6;
  border: 1px solid gray;
  padding: 1%;
  margin: 10px auto;
}

.column h1{
  text-align: center;
}

.column img{
  width: 100%;
}

.about_george{
  text-align: center;
  background-color: #ffccff;
  padding: 1%;
  border: 1px solid #000;
}
