h1{
  text-align: center;
}

.about_george{
  text-align: center;
  background-color: #ffccff;
  padding: 1%;
  border: 1px solid #000;
}

.pictures {
  width: 100%;
}


.column1{
  background-color: #ffe6e6;
  border: 1px solid gray;
  padding: 1%;
  margin: 10px auto;
}

.column2{
  background-color: #ede9f2;
  border: 1px solid gray;
  padding: 1%;
  margin: 10px auto;
}

.column3{
  background-color: #f0caca;
  border: 1px solid gray;
  padding: 1%;
  margin: 10px auto;
}
